<h1>{{title}} Работа c формами</h1>

<form [formGroup]="form" (ngSubmit)="submit()">
  <div>
    <label for="name">Name</label>
    <input id="name" type="text" formControlName="name">
    <span *ngIf="form.controls['name'].hasError('required')" class="form__error">Нет введеных данных</span>
    <span *ngIf="form.controls['name'].hasError('asyncValidator')" class="form__error">В имени не должно быть цифр(Асинк)</span>
  </div>
  <div>
    <label for="surname">Surname</label>
    <input id="surname" type="text" formControlName="surname">
    <span *ngIf="form.controls['surname'].hasError('required')" class="form__error">Нет введеных данных</span>
    <span *ngIf="form.controls['surname'].hasError('noNums')" class="form__error">В фамилии не должно быть цифр</span>
  </div>
  <div>
    <label for="email">Email</label>
    <input id="email" type="email" formControlName="email">
    <span *ngIf="form.controls['email'].hasError('required')" class="form__error">Нет введеных данных</span>
    <span *ngIf="form.controls['email'].hasError('email')" class="form__error">Не коректный адресс электронной почты</span>
  </div>
  <div>
    <label for="birthday">Birthday</label>
    <input id="birthday" type="date" formControlName="birthday">
    <span *ngIf="form.controls['age'].hasError('required')" class="form__error">Нет введеных данных</span>
  </div>
  <div>
    <label for="age">Age</label>
    <input id="age" type="number" formControlName="age">
    <span *ngIf="form.controls['age'].hasError('required')" class="form__error">Нет введеных данных</span>
    <span *ngIf="form.controls['age'].hasError('min')" class="form__error">Возраст не подходит</span>
    <span *ngIf="form.controls['age'].hasError('toOld')" class="form__error">Возраст слишклм большой</span>
  </div>
  <div>
    <label for="sex">Sex</label>
    <select id="sex" formControlName="sex">
      <option value="male">Male</option>
      <option value="female">Female</option>
    </select>
    <span *ngIf="form.controls['sex'].hasError('required')" class="form__error">Нет введеных данных</span>
  </div>
  <div>
    <label for="subscription">Subscription on news</label>
    <input id="subscription" type="checkbox" formControlName="subscription">
    <span *ngIf="form.controls['subscription'].hasError('required')" class="form__error">Нет введеных данных</span>
  </div>
  <div formArrayName="phones">
    <div *ngFor="let phone of getFormsArrayControls()['controls']; let index = index">
      <label for="phone">Телефон</label>
      <input type="text" id="phone" formControlName="{{index}}">
      <span *ngIf="invalidArray === 'INVALID'" class="form__error">Не валидный телефоннный номер</span>
      <span *ngIf="invalidArray === 'VALID'" class="form__norm">Bалидный телефоннный номер</span>
    </div>
    <div>
      <button (click)="addPhone()">Добафить телефон</button>
    </div>
  </div>

  <div formGroupName="address">
    <h3>Address</h3>
    <div>
      <label for="country">Country</label>
      <input id="country" type="text" formControlName="country">
      <span *ngIf="address.controls['country'].hasError('required')" class="form__error">Нет введеных данных</span>
    </div>
    <div>
      <label for="city">City</label>
      <input id="city" type="text" formControlName="city">
      <span *ngIf="address.controls['city'].hasError('required')" class="form__error">Нет введеных данных</span>
    </div>
    <div>
      <label for="street">Street</label>
      <input id="street" type="street" formControlName="street">
      <span *ngIf="address.controls['street'].hasError('required')" class="form__error">Нет введеных данных</span>
    </div>
    <div>
      <label for="homeNumber">Home number</label>
      <input id="homeNumber" type="number" formControlName="homeNumber">
      <span *ngIf="address.controls['homeNumber'].hasError('required')" class="form__error">Нет введеных данных</span>
      <span *ngIf="address.controls['homeNumber'].hasError('min')" class="form__error">Номер дома не может быть меньше единицы</span>

    </div>

  </div>

  <button type="submit">Submit</button>
</form>

<hr>

<div>
  <table>
    <tr *ngFor="let user of arrayOfUsers">
      <td>{{user.name}}</td>
      <td>{{user.surname}}</td>
      <td>{{user.email}}</td>
      <td>{{user.birthday | date:'shortDate'}}</td>
      <td>{{user.age}}</td>
      <td>{{user.sex}}</td>
      <td>{{user.subscription}}</td>
      <td>
        <tr *ngFor="let phone of user.phones">
          <td>{{phone}}</td>
        </tr>
      </td>
      <td>
        <tr>
          <td *ngIf="!!user.address.country">{{user.address.country}}</td>
          <td *ngIf="!!user.address.city">{{user.address.city}}</td>
          <td *ngIf="!!user.address.street">{{user.address.street}}</td>
          <td *ngIf="!!user.address.homeNumber">{{user.address.homeNumber}}</td>
        </tr>
      </td>
    </tr>

  </table>
</div>